{{#if model.custom_fields.nationalflag_iso}}
  <div class="house">
    <a href="https://viki.gameofthronestr.com/{{model.custom_fields.nationalflag_iso}}_Hanesi" target="_blank"><img class="nationalflag-usersummary" title="{{model.custom_fields.nationalflag_iso}}" src="/plugins/discourse-nationalflags/images/nationalflags/{{model.custom_fields.nationalflag_iso}}.png"/></a>
    {{model.custom_fields.nationalflag_iso}} Hanesi
    <a href="https://viki.gameofthronestr.com/{{model.custom_fields.nationalflag_iso}}_Hanesi" target="_blank"><img class="nationalflag-usersummary" title="{{model.custom_fields.nationalflag_iso}}" src="/plugins/discourse-nationalflags/images/nationalflags/{{model.custom_fields.nationalflag_iso}}.png"/></a>
 </div>
{{/if}}
